@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    @apply text-gray-800 dark:text-gray-100 hover:text-pink-500 dark:hover:text-pink-400 transition font-medium;
  }
  
  .mobile-link {
    @apply text-gray-900 dark:text-gray-100 hover:text-pink-500 dark:hover:text-pink-400 transition;
  }
  